{% extends "layout.html" %}

{% block title %}
    NUEVO TEMA
{% endblock %}

{% block contenido %}
    <br>
    <div class="h1 bg-warning">CREAR NUEVO TEMA</div>
    <br>
    <div>
    <form class="fs-4" method="post" action="{% url 'wikiApp:nuevoTema' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombreTemaInput">Ingrear título del tema</label>
            <input type="text" class="form-control fs-4" name="nombreTema" id="nombreTemaInput" >
        </div>
        <br>
        <div class="form-group">
            <label for="descripcionTemaInput">Ingrese descripción</label>
            <input type="text" class="form-control fs-4" name="descripcionTema" id="descripcionTemaInput">
        </div>
        <br>
        <div>
            <input type="submit" value="REGISTRAR">
        </div>
    </form>
    </div>
{% endblock %}